.Xauthority
	.Xclients
	.bash_history
	.bash_logout
	.bash_profile
	.bashrc
	.cache/
	.config/Code - OSS/
	.config/Kvantum/
	.config/Synergy/
	.config/autostart/
	.config/clipit/
	.config/configstore/
	.config/dconf/
	.config/dmenu-recent/
	.config/epdfview/
	.config/falkon/
	.config/fontconfig/
	.config/gconf/
	.config/google-chrome/
	.config/gtk-3.0/
	.config/hexchat/
	.config/htop/
	.config/i3-scrot.conf
	.config/libfm/
	.config/lxsession/
	.config/manjaro-hello.json
	.config/menus/
	.config/mimeapps.list
	.config/morc_menu/
	.config/nitrogen/
	.config/omf/
	.config/pcmanfm/
	.config/pulse/
	.config/qt5ct/
	.config/ranger/
	.config/rofi/
	.config/spotify/
	.config/terminator/
	.config/user-dirs.dirs
	.config/user-dirs.locale
	.config/viewnior/
	.config/vlc/
	.config/volumeicon/
	.config/xfce4/
	.dir_colors
	.dmenurc
	.esd_auth
	.fehbg
	.fonts/
	.gimp-2.8/
	.gitconfig
	.gnupg/
	.gtk-bookmarks
	.gtkrc-2.0
	.icons/
	.install4j
	.java/
	.local/
	.marks/
	.moc/
	.npm/
	.pki/
	.profile
	.ssh/
	.subversion/
	.thumbnails/
	.viminfo
	.vscode-oss/
	.xinitrc
	.xsession-errors
	.xsession-errors.old
	Downloads
	Pictures/2019-02-10-184530_1920x1080_scrot.png
	Pictures
	snap