! =================
! rofi
! =================

rofi.opacity:                        100
rofi.width:                          30
rofi.lines:                          25
rofi.columns:                        1
rofi.font:                           Operator Ssm Book 16
rofi.bw:                             1
rofi.location:                       0
rofi.padding:                        30
rofi.yoffset:                        0
rofi.xoffset:                        0
rofi.fixed-num-lines:                true
rofi.terminal:                       rofi-sensible-terminal
rofi.ssh-client:                     ssh
rofi.ssh-command:                    {terminal} -e {ssh-client} {host}
rofi.run-command:                    {cmd}
rofi.run-list-command:
rofi.run-shell-command:              {terminal} -e {cmd}
rofi.window-command:                 xkill -id {window}
rofi.disable-history:                false
rofi.levenshtein-sort:               false
rofi.case-sensitive:                 false
rofi.cycle:                          true
rofi.sidebar-mode:                   false
rofi.eh:                             1
rofi.auto-select:                    false
rofi.parse-hosts:                    false
rofi.parse-known-hosts:              true
rofi.combi-modi:                     window,run
rofi.fuzzy:                          false
rofi.glob:                           false
rofi.regex:                          false
rofi.tokenize:                       true
rofi.m:                              0
rofi.line-margin:                    2
rofi.filter:
rofi.separator-style:                none
rofi.hide-scrollbar:                 true
rofi.fullscreen:                     false

! ------------------------------------------------------------------------------
! ROFI Color theme
! Copyright: Rasmus Steinke
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #eb64b9, #27212e, #f39fd4
rofi.color-normal: #eb64b9, #27212e, #eb64b9, #f39fd4, #27212e
rofi.color-active: #eb64b9, #80cbc4, #eb64b9, #f39fd4, #80cbc4
rofi.color-urgent: #eb64b9, #ff1844, #eb64b9, #f39fd4, #ff1844
Xcursor.size: 12
xft.dpi: 288
