! =================
! rofi
! =================

rofi.opacity:                        100
rofi.width:                          98
rofi.lines:                          30
rofi.columns:                        1
rofi.font:                           Dank Mono 18
rofi.bw:                             1
rofi.location:                       0
rofi.padding:                        40
rofi.yoffset:                        30
rofi.xoffset:                        0
rofi.fixed-num-lines:                true
rofi.terminal:                       rofi-sensible-terminal
rofi.ssh-client:                     ssh
rofi.ssh-command:                    {terminal} -e {ssh-client} {host}
rofi.run-command:                    {cmd}
rofi.run-list-command:               
rofi.run-shell-command:              {terminal} -e {cmd}
rofi.window-command:                 xkill -id {window}
rofi.disable-history:                false
rofi.levenshtein-sort:               false
rofi.case-sensitive:                 false
rofi.cycle:                          true
rofi.sidebar-mode:                   false
rofi.eh:                             1
rofi.auto-select:                    false
rofi.parse-hosts:                    false
rofi.parse-known-hosts:              true
rofi.combi-modi:                     window,run
rofi.fuzzy:                          false
rofi.glob:                           false
rofi.regex:                          false
rofi.tokenize:                       true
rofi.m:                              0
rofi.line-margin:                    2
rofi.filter:                         
rofi.separator-style:                none
rofi.hide-scrollbar:                 true
rofi.fullscreen:                     false

! ------------------------------------------------------------------------------
! ROFI Color theme
! Copyright: Rasmus Steinke
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #1e2529, #1e2529, #1e2529
rofi.color-normal: #1e2529, #c1c1c1, #1e2529, #394249, #ffffff
rofi.color-active: #1e2529, #80cbc4, #1e2529, #394249, #80cbc4
rofi.color-urgent: #1e2529, #ff1844, #1e2529, #394249, #ff1844